/* RESET */
/* 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* ==============================PHONE SCREEN========================================= */

@media screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
  }

  body {
    background-color: lightblue;
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    /* max-width: unset; */
  }

  #commentsForm {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    height: 100%;
    width: 100%;
  }

  #container {
    grid-area: 3 / 1 / span 3 / span 3;
    background-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-style: solid;
    /* margin: auto; */
    min-height: 100px;
    height: auto;
    width: 80%;
    margin: 0 auto;
  }

  #commentDivision {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  #formName {
    background-color: red;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
  }

  #formInformation {
    background-color: blueviolet;
    font-weight: bold;
  }

  #formComments {
    background-color: white;
  }

  .deleteButtons {
    /* margin: 10px; */
    width: 30%;
  }
}
/* ======================WEB VERSION=============================================== */

@media screen and (min-width: 600px) {
  * {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
  }

  body {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
  }

  #commentsForm {
    grid-area: 2 / 4 / span 1 / span 5;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }

  #container {
    grid-area: 3 / 3 / span 1 / span 7;
    background-color: white;
    border-style: solid;
  }

  #commentDivision {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}
